{
  "root": true,
  "extends": [
    "plugin:vue/essential",
    "plugin:vue/recommended",
    "plugin:vue/strongly-recommended",
    "eslint:recommended"
  ],
  "plugins": ["prettier", "vue"],
  "rules": {
    "prettier/prettier": "warn",
    "vue/html-self-closing": "off"
  }
}
